*{
    color: #403529;
}

.formulario{
    background-color: #F2913D;
    padding: 25px;
    box-shadow: 5px 5px 5px rgb(210, 210, 210);
}



.campo {
    padding: 15px;
}

.btn-buscar{
    background-color: #403529;
    color:  #F2E963;
 
    border: 1px solid #403529;

    

}

.btn-buscar:hover{
    background-color: transparent;
    color: #403529;
    
    border: 1px solid #403529;
    border-radius: 10px;
    
}