.apartamento{
    
    height: auto;
    /*border: 1px dashed #F2913D;*/


}
.apartamento img{
    width: 100%;
}



.reseña{
    margin: 10px;
    padding: 5px;
   background-color:  #FFFF; 
   min-height: 130px;
}

.btn-reseñas{
    background-color: #403529;
    color:  #F2E963;
    padding: 15px 20px;
    border: 1px solid #403529;
    border-radius: 10px;
    width: 100%;
    

}

.btn-reseñas:hover{
    background-color: transparent;
    color: #403529;
    padding: 15px 20px;
    border: 1px solid #403529;
    border-radius: 10px;
    
}

.btn-reseña{
    background-color: transparent;
    border: 1px solid #403529;
    color: #403529;
    padding: 5px 15px;
}
.card_apartment{
    margin: 5px;
   background-color:  #F2E963;
    border: 1px solid #E2E3E8;
    padding: 15px;
    box-shadow: 5px 5px 5px rgb(210, 210, 210);
    height: 100%;
   
}
