.resultados-busqueda{
    background-color: rgb(215, 212, 212);
    color: white;

}

li{
    text-decoration: none;
}

ul{
    text-decoration: none;
}

.reseñas-filtro{
    background-color: white;
}

.reseña-apartamento{
    background-color:#F2B544; 
}