* {
    color: #403529;
}

.texto-carrusel-pr {
    background-color: #F2E963;
    color: #403529;
    padding: 2%;
    box-shadow: 5px 5px 5px #938d3c;
}

.texto-carrusel-sg{
    background-color: #403529;
    color: #F2E963;
    padding: 2%;
 
    box-shadow: 5px 5px 5px #0c0a08;
}

.texto-carrusel-tr{
    background-color: #ffffff;
    color: #F25D27;
    padding: 2%;
    box-shadow: 5px 5px 5px #6d521f;
}


.texto-sg{
    color: #F2E963;
}

.texto-tr{
    color: #F25D27;
}

.boton-marron:hover {
    color: #403529;
    border: 2px solid #403529;
    padding: 5px 60px;
    font-size: 1vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
    max-width: 80%;
    /* Ajusta el ancho máximo del botón al 80% del contenedor */
}

.boton-marron {
    color: #F2E963;
    border: 2px solid #F2E963; 
    background-color: #403529;
    padding: 5px 60px;
    font-size: 1vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
    max-width: 80%;
    /* Ajusta el ancho máximo del botón al 80% del contenedor */
}


.boton-amarillo:hover  {
    color: #F2E963;
    border: 2px solid #F2E963;
    padding: 5px 60px;
    font-size: 1vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
    max-width: 80%;
    /* Ajusta el ancho máximo del botón al 80% del contenedor */
}

.boton-amarillo{
    color:  #403529;
    border: 2px solid #F2E963; 
    background-color: #F2E963;
    padding: 5px 60px;
    font-size: 1vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
    max-width: 80%;
    /* Ajusta el ancho máximo del botón al 80% del contenedor */
}

.boton-blanco:hover {
    color: #F25D27;
    border: 2px solid #F25D27;;
    padding: 5px 60px;
    font-size: 1vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
    max-width: 80%;
    /* Ajusta el ancho máximo del botón al 80% del contenedor */
}

.boton-blanco {
    color: #ffffff;
    border: 2px solid #F25D27;; 
    background-color: #F25D27;;
    padding: 5px 60px;
    font-size: 1vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
    max-width: 80%;
    /* Ajusta el ancho máximo del botón al 80% del contenedor */
}

.custom-caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 65%;
    /* Ajusta el ancho de la caption según tu preferencia */

}

.center-content {
    text-align: center;
}

.text-container {
    max-width: 90%;
    /* Ajusta el ancho máximo del contenedor de texto al 90% */
    margin: 0 auto;
    /* Centra el contenedor de texto horizontalmente */
    font-size: 1.3vw;
    /* Tamaño de fuente relativo al ancho de la ventana */
}

.text-container h3 {
    font-size: 1.8vw;
}

@media (max-width: 768px) {


    .carousel-item img {
        width: auto;
        /* Hacer que la imagen se ajuste automáticamente al ancho del contenedor */
        height: 300px;
        /* Establecer la altura al 100% para mantener la proporción de aspecto */
    }
}


