.contenedor{
    background-color: #F2E963;
    margin-bottom: 20px;
}

.contenedor h2{
    color: #403529,
}

.boton{
    background-color:  #F2913D;
    border-color: #F2913D;
    margin-left: 20px;

  
}

.boton:hover{
    background-color:#F25D27;
    border-color: #F25D27;
}

.titulo-perfil{
    background-color:#F25D27;
    color: #F2E963;
}

.mi-perfil{
    margin-top: 170px;
    margin-bottom: 170px;
}